asgiref==3.8.1
cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.1
cloudinary==1.44.0
dj-database-url==3.0.0
Django==4.2.21
google-auth==2.39.0
google-auth-oauthlib==1.2.2
gspread==6.2.0
gunicorn==20.1.0
idna==3.10
oauthlib==3.2.2
psycopg==3.2.9
psycopg-binary==3.2.9
psycopg2==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
python-dotenv==1.1.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9.1
setuptools==80.7.1
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
whitenoise==6.9.0
