<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vixi Photography</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <h1>Welcome to Vixi Photography</h1>

  <div class="roulette-box">
    <img src="{% static 'images/testimage1.jpg' %}" class="active" alt="Photo 1">
    <img src="{% static 'images/testimage2.jpg' %}" alt="Photo 2">
    <img src="{% static 'images/testimage3.jpg' %}" alt="Photo 3">
  </div>
 
  <form action="{% url 'checkout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Book a mini-shoot (£50 test)</button>
  </form>


  <script src="{% static 'js/roulette.js' %}"></script>
</body>
</html>

