{% extends 'base.html' %}
{% load static %}

{% block title %}Home • Vixi Photography{% endblock %}

{% block content %}
<section class="hero full-cover">
  <h1>VIXI PHOTOGRAPHY</h1>

  <div class="roulette-box">
    <img src="{% static 'images/Doohan1.jpg' %}" class="active" alt="Photo 1">
    <img src="{% static 'images/DoohanBlur.jpg' %}" alt="Photo 2">
    <img src="{% static 'images/Lando1.jpg' %}" alt="Photo 3">
  </div>
  <a class="home-btn" href="{% url 'gallery_index' %}">Gallery</a>
</section>

<script src="{% static 'js/roulette.js' %}"></script>
{% endblock %}
