{% extends 'base.html' %}
{% block title %}{% if mode == "edit" %}Edit Booking{% else %}Book the Photographer{% endif %} • Vixi{% endblock %}

{% block content %}
<h1>{% if mode == "edit" %}Edit Booking{% else %}Book the Photographer{% endif %}</h1>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn-book" type="submit">{% if mode == "edit" %}Save Changes{% else %}Submit Request{% endif %}</button>
  <a class="btn-book" href="{% url 'my_bookings' %}">My Bookings</a>
</form>
{% endblock %}
